* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8c6e5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  transition: background 0.3s;
}

body.dark {
  background-color: #1e1e1e;
  color: #fff;
}

.calculadora {
  background-color: #ec42c4;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

body.dark .calculadora {
  background-color: #2b2b2b;
}

h2 {
  text-align: center;
  color: #f8f7f8;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: 10px;
 
}

button {
  flex: 1 1 45%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #a1007e;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #ffe6f5;
}

body.dark button {
  background-color: #444;
  color: white;
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
  color: white;
}

#historico {
  margin-top: 10px;
  color: white;
}

#lista-historico {
  list-style: none;
  font-size: 14px;
  padding-left: 0;
}
